// Colors
$background-color: #E4C59E;
$text-color: #322C2B;

$primary-color: #805A3B;
$primary-color-dark: #5B3E2B;

$highlight-color: #A83A32;
$card-bg: #efddc6;


// Breakpoints
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;